<!-- Template -->
<!-- Contentbereich -->
<form>
    <div>
        <input type="text" id="id" name="id"  value="#context['id']#" />
    </div>
    <div>
        <label for="Anrede">Anrede </label>
        <input type="text" id="Anrede" name="Anrede" value="#context['Anrede']#" />
    </div>
    <div>
        <label for="Name">Name </label>
        <input type="text" id="Name" name="Name" value="#context['Name']#" />
    </div>
    <div>
        <label for="Vorname">Vorname</label>
        <input type="text" id="Vorname" name="Vorname" value="#context['Vorname']#" />
    </div>
    <div>
        <label for="Titel">Titel</label>
        <input type="text" id="Titel" name="Titel" value="#context['Titel']#" />
    </div>
    <div>
        <label for="Geburtdatum">Geburtdatum</label>
        <input type="date" id="Geburtdatum" name="Geburtdatum" value="#context['Geburtdatum']#" />
    </div>
    <div>
        <label for="strasse">strasse</label>
        <input type="text" id="strasse" name="strasse" value="#context['strasse']#" />
    </div>
    <div>
        <label for="Hausnummer">Hausnummer</label>
        <input type="text" id="Hausnummer" name="Hausnummer" value="#context['Hausnummer']#" />
    </div>
    <div>
        <label for="Postleitzahl">Postleitzahl</label>
        <input type="text" id="Postleitzahl" name="Postleitzahl" value="#context['Postleitzahl']#" />
    </div>
    <div>
        <label for="Ort">Ort</label>
        <input type="text" id="Ort" name="Ort" value="#context['Ort']#" />
    </div>
    <div id="idButtonArea" class="clButtonArea">
        <button id="idBack">Zurück</button>
        <button id ="idSave">Speichern</button>
    </div>
</form>
<!-- EOF -->